<!DOCTYPE html>
<meta charset="UTF-8">
<title></title>
<script src="scripts/border.js"></script>
<link rel="icon" href="../favicon.ico">
<link rel="stylesheet" href="styles/style.css">

<article>
	<h1></h1> <hr> <p></p>
</article>
<footer>
	<hr><hr>
	<a href="about.html">about</a> <BR>
	You are visitor number <a href="https://stuff.mit.edu/doc/counter-howto.html"><img src="https://stuff.mit.edu/cgi/counter/jduncan" style="vertical-align:middle" alt="counter"></a> <BR>
	<i> <a href="mailto:duncanjdiii@gmail.com?Subject=I%20would%20like%20to%20speak%20to%20your%20manager">  © 2016 John D. Duncan, III <br> <img id="mail" src="images/mail.gif" alt="mail"></a> <BR> </i>
	<a href="http://vanilla-js.com/"> <img id="vanilla" src="images/banners/button.gif" alt="vanilla js"></a>
	<br>
	<a href="https://www.anybrowser.org/campaign/index.html"> <img id="anyBrowser" src="#" alt=""></a>
</footer>
<script src="scripts/anybrowser.js"></script>

