.image {
	text-align: center;
	vertical-align: top;
	padding-left:8px;
	padding-right:8px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-right: 1px solid black;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	display: table-cell;
}

.image:hover {
	/*background-color:rgba(245, 215, 215, 0.6);*/
	border: 1px dashed black;
	border-image: url('img/ants.gif') 1 repeat;
	background: url('img/sparkle.gif') repeat;
}
.image:active {
	/*background-color:rgba(161, 192, 163, 0.6);*/
	border: 1px dashed red;
	border-image: url('img/red-ants.gif') 1 repeat;
}

.image:last-child {
	border-right:none;
}

.image:first-child {
	border-left:none;
}

.header-box {
	display: table;
	margin: 0 auto;
	text-align:center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-image: url(data:image/png;base64,R0lGODdhAwADAIACAPn5+f39/SwAAAAAAwADAAACA0SMVwA7);
}

.content {
	text-align: center;
	vertical-align: top;
	padding-left:8px;
	padding-right:8px;
	display: table-cell;
}

.content-bw-image>* {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

.header-box a:hover, .header-box a:visited,
.header-box a:link, .header-box a:active
/* hack to disable a pesky webkit bug*/ {
	text-decoration: none;
}
