div.toc {
	border-collapse:collapse;
	margin:0px;
	background:#EEE; color:#000;
	font-size:80%;
	border:1px solid #000;
	padding:5px;
	font-family:sans-serif;
}
div.toc ul { margin-top:0px; margin-bottom:0px; margin-left:1em; padding:0 }
div.toc li { margin-top:0px; margin-bottom:0px }
.mktreecmd { cursor:pointer; text-decoration:underline; color:#008 }
/* Put this inside a @media qualifier so Netscape 4 ignores it */
@media screen, print {
	/* Turn off list bullets */
	ul.mktree  li { list-style: none; }
	/* Control how "spaced out" the tree is */
	ul.mktree, ul.mktree ul , ul.mktree li { margin-left:10px; padding:0px; }
	/* Provide space for our own "bullet" inside the LI */
	ul.mktree  li .bullet { padding-left: 15px; }
	/* Show "bullets" in the links, depending on the class of the LI that the link's in */
	ul.mktree  li.liClosed > .bullet { cursor: pointer; background: url("img/mktree.gif")   0px -4px /*center left*/ no-repeat; }
	ul.mktree  li.liOpen   > .bullet { cursor: pointer; background: url("img/mktree.gif") -19px -4px /*center left*/ no-repeat; }
	ul.mktree  li.liBullet > .bullet { cursor: default; background: url("img/mktree.gif") -38px -4px /*center left*/ no-repeat; }
	/* Sublists are visible or not based on class of parent LI */
	ul.mktree  li.liOpen    ul { display: block; }
	ul.mktree  li.liClosed  ul { display: none; }
	/* Format menu items differently depending on what level of the tree they are in */
/*ul.mktree  li { font-size: 12pt; }
	ul.mktree  li ul li { font-size: 10pt; }
	ul.mktree  li ul li ul li { font-size: 8pt; }
	ul.mktree  li ul li ul li ul li { font-size: 6pt; }*/
}
