* {
	image-rendering: optimizeSpeed; 		/* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;		/* Firefox                        */
	image-rendering: -o-crisp-edges;		/* Opera                          */
	image-rendering: -webkit-optimize-contrast; 	/* Chrome (and eventually Safari) */
	image-rendering: pixelated;			/* Chrome */
	image-rendering: optimize-contrast;		/* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;	/* IE8+                           */
}

body {
	color: #888;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-image: url(bg.gif);
	background-repeat: repeat-x;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover { text-decoration: underline; }

#palette_display { width: 150px; }

div.palette_color {
	float: left;
	width: 8px;
	height: 8px;
	border: 1px solid #555;
	margin: 1px 0px 0px 1px;
}

div.clear { clear: both; }

#container {
	background-color: black;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:5em;
	border: 3px double white;
	padding: 5px;
	white-space:nowrap;
	/*line-height: 0;*/
}

#d_header { margin-bottom: 2px; }

#fe_scene {
	outline: 0;
	border: 1px solid #3a3a3a;
	background-color: #000;
	color: #888;
}

#d_scene_selector, #d_scene_btns, #d_options_control, #d_timeline {
	display: inline-block;
	vertical-align: top;
}


#btn_options_toggle { position: relative; }

#d_loading {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 50%;
	top: 50%;
	z-index: 3;
	background: url(images/loading.gif) no-repeat center center;
}

#d_tl_container { position: relative; }

#d_tl_clock {
	font-size: 15px;
	text-align: center;
	font-weight: bold;
}

#d_tl_back {
	position: absolute;
	left: 32px;
	width: 10px;
	height: 440px;
	border: 1px solid #3a3a3a;
	background: #444;
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #000),
		color-stop(0.5, #444),
		color-stop(1, #000)
	);
	background: -moz-linear-gradient(
		center bottom,
		#000 0%,
		#444 50%,
		#000 100%
	);
}

#d_tl_thumb {
	position: absolute;
	left: 21px;
	width: 32px;
	height: 12px;
	border: 1px solid #3a3a3a;
	cursor: row-resize;
	background: #1b1b1b;
}

#d_tl_thumb:hover { background: #2a2a2a; }

#d_tl_thumb:active {
	box-shadow: rgba(255,255,255,1.0) 0px 0px 5px;
	-webkit-box-shadow: rgba(255,255,255,1.0) 0px 0px 5px;
	-moz-box-shadow: rgba(255,255,255,1.0) 0px 0px 5px;
}

div.tl_label {
	margin-left: 50px;
	height: 52px;
	line-height: 29px;
	font-weight: bold;
	color: #666;
}
div.tl_label:last-child { height: 0px; }

#mycanvas {
	display: inline-block;
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-o-transform-origin: 0px 0px;
}

#d_options {
	margin-left: 15px;
	display: inline-block;
}

#d_debug {
	margin-top: 7px;
	color: #555;
	font-weight: bold;
}

.section { margin-bottom: 20px; }

div.label {
	font-weight: bold;
	color: #444;
}

.button {
	display: inline-block;
	height: 14px;
	padding: 2px 10px 2px 10px;
	margin-right: 1px;
	border: 1px solid #3a3a3a;
	cursor:pointer;
	font-weight:bold;
	-webkit-user-select: none;
	line-height: initial;
}

.button:hover, .button.hover {
	color: #aaa;
	background: #151515;
	outline: 1px solid white;
}

.button.selected {
	border: 1px solid #3a3a3a;
	background: #2a2a2a;
	color: #fff;
	cursor: default;
}

.button.thin { padding: 2px 6px 2px 6px; }

#d_footer {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#d_footer > span { padding: 0px 10px 0px 10px; }
